	<!DOCTYPE html>
<html>
	<head>
		<title>Playlister</title>
	</head>

<body>
	<h1>Ruby Playlister</h1>
	<h2>Artists</h2>
	<h3><%=@artist_count%></h3>
	<ul>
	<%@artists.each do |artist| %>

		<h2><a href = './artist/'<%=artist.name %></h2><a>
		<li><%=artist.songs.count%></li>
		<%artist.songs.each do |song| %>
		<li><%=song.name %></li>
			<%end%>

	<%end%>
	</ul>


</body>
</html>