	<!DOCTYPE html>
<html>
	<head>
		<title>Playlister</title>
	</head>

<body>
	<h1>Ruby Playlister</h1>
	<h2>Artists</h2>
	<h3><%=@artist_count%></h3>
	<ul>
	<%@artists.each do |artist| %>

		<h2><%=artist.name %></h2>
		<li><%=artist.songs.count%></li>
	<%end%>

	</ul>


</body>
</html>