	<!DOCTYPE html>
<html>
	<head>
		<title>Artist page</title>
	</head>

<body>
	<h1><%=@curr_artist.name%></h1>
	<%@artist.songs.each do |song| %>
	<li><%=song.name %></li>
	<li><%=song.genre%></li>
	<%end%>
	
</body>
</html>