	<!DOCTYPE html>
<html>
	<head>
		<title>Genres</title>
	</head>

<body>
	<h1>Genres</h1>
	<%@genres.each do |genre|%>

	<ul>

		<li><%=genre.name%>: <%=genre.songs.count%> songs, <%=genre.artists.count%> artists</li>
	</ul>	
	<%end%>

</body>
</html>