	<!DOCTYPE html>
<html>
	<head>
		<title>Song Page</title>
	</head>

<body>
	<h1><%=@artist.name%></h1>
	<%artist.songs.each do |song| %>
	<li><%=song.name %></li>
	<li><%=song.genre%></li>
	<%end%>
	
</body>
</html>